a:hover{color: green;}

.shu
{
	display:flex;
	flex-direction: column;
	 justify-content: center;
}
.heng
{
	display: flex;
      flex: auto;
	 justify-content: center;
}

.as{
	flex: 1;
}
.at{
	flex: 3;
}
